{% extends 'main_base.html' %}

{% block content %}

{% load static %}

<div class="full-view container-fluid">
    <div class="explore-content pt-5 row">
        <div class="hobby-list col-7">
            <!-- List of Classes -->
            <!-- <input id="search-bar" type="text" placeholder="Search..."> -->
            <ul class="list-group">
                <!-- Individual class -->
                <li class="list-group-item">
                    <img class="classes-image" src="https://images.pexels.com/photos/3772488/pexels-photo-3772488.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500">
                    <!-- <img class="classes-image" src="{% static 'assets/yoga.jpg' %}"> -->
                    <h4>embroidery 101</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus incidunt nesciunt delectus ad, labore excepturi error suscipit? Quisquam dicta totam, assumenda omnis incidunt molestiae accusantium quam nostrum labore eaque ipsum.</p>
                </li>

                <li class="list-group-item">
                    <img class="classes-image" src="https://images.pexels.com/photos/1409221/pexels-photo-1409221.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500">
                    <!-- <img class="classes-image" src="{% static 'assets/yoga.jpg' %}"> -->
                    <h4>scrapbooking 101</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque eius id odit sunt quidem. Libero reiciendis ex suscipit nisi impedit eligendi accusantium dolorem, perferendis aut ipsam esse ad placeat maxime.</p>
                </li>

                <li class="list-group-item">
                    <img class="classes-image" src="https://images.pexels.com/photos/2900935/pexels-photo-2900935.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
                    <!-- <img class="classes-image" src="{% static 'assets/yoga.jpg' %}"> -->
                    <h4>oil painting 101</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed ipsam, blanditiis tempora optio enim dolorum distinctio quo laboriosam rem facilis similique in consequatur rerum, aspernatur, dolorem aliquam quas dolor explicabo.</p>
                </li>

                <li class="list-group-item">
                    <img class="classes-image" src="https://images.pexels.com/photos/260024/pexels-photo-260024.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500">
                    <!-- <img class="classes-image" src="{% static 'assets/yoga.jpg' %}"> -->
                    <h4>chess 101</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis eius inventore non, voluptas corporis pariatur temporibus incidunt reiciendis odit ullam impedit, velit sequi accusamus illum, voluptatibus placeat maxime! Repudiandae, quibusdam.</p>
                </li>

                <li class="list-group-item">
                    <img class="classes-image" src="https://images.pexels.com/photos/16516/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&w=500">
                    <!-- <img class="classes-image" src="{% static 'assets/yoga.jpg' %}"> -->
                    <h4>drawing 101</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi eius distinctio dicta laboriosam deleniti quae accusamus, vitae numquam, nobis harum tempora iste nemo aperiam hic molestias vel ex inventore consequuntur.</p>
                </li>

                <li class="list-group-item">
                    <img class="classes-image" src="https://images.pexels.com/photos/68558/pexels-photo-68558.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500">
                    <!-- <img class="classes-image" src="{% static 'assets/yoga.jpg' %}"> -->
                    <h4>botany 101</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur dolores, molestias ad nisi iusto temporibus, praesentium laudantium minima, ab voluptates libero. Odit quibusdam dolorem libero eum amet deleniti eligendi excepturi!</p>
                </li>
            </ul>
        </div>

        <!-- Map Image -->
        <!-- <div class="col-6 full-width-image"><img src="assets/map-image.png"></div> -->
        <div class="col-5 full-width-image"><img src="{% static 'assets/map-image.png' %}"></div>
    </div>
</div>

{% endblock %}