<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Sideline - Find your next favorite hobby</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- CSS LINK -->
    {% load static %}
    <link rel='stylesheet' href="{% static 'css/style.css' %}">

    <body>
        <div class="navbar"></div>
        <a href="{% url 'hobbies-add' %}" class="btn btn-success ml-4">New Hobby</a>

        <div class="content">
            {% block content %}
            {% endblock %}
        </div>

        <div class="footer"></div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    </body>
